*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    background-color: #80BD9E;
    text-decoration: none;
    list-style-type: none;
}
.head1{
    height: 50px;
    display: flex;
    justify-content: center;
    color: indianred;
}
.title{
}
.photo{
    display: flex;
    justify-content: center;
}
.tandoori{
    width: 500px;
    height: 400px;
}